#home {
  background-image: url("../pics/background.jpeg");
  text-align: center;
  padding: 40px;
}

.home__picture {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}


.home__contact {
  border-radius: var(--size-border-radius);
  border: 2px solid var(--color-white);
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  padding: 8px 12px;
  margin-top: 24px;
}

.home__contact:hover {
  font-size: var(--font-regular);
  transition: 0.3s;
}
