#whydigitallab {
  background-color: var(--color-light-white);
  padding: 60px 40px 80px 40px;
  display: flex;  
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.whydigitallab__title {
  color: var(--color-dark-grey);
  text-align: center;
}

.whydigitallab__reasons {
  margin-top: 20px;
  color: var(--color-light-white);
  background-color: #DAE8F9;
  padding: 20px;
}

.whydigitallab__reason {
  margin: 50px 20px 70px 20px;
}